/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("images/bg-intro-mobile.png"), #ff7a7a;
}

.container {
  width: 80%;
  margin: 0px auto;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.content {
  width: 97%;
  text-align: center;
  color: #fff;
}
.content #content__paragraph {
  margin-top: 20px;
}

.formule {
  width: 90%;
  margin: 50px 10px 0px 25px;
}
.formule #formule__blue {
  display: flex;
  width: 100%;
  background-color: #6055a5;
  text-align: center;
  height: 80px;
  color: #fff;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 3px #3e3c49, 0px 5px 3px #3e3c49;
  cursor: pointer;
}
.formule #formule__blue #blue {
  margin-top: 15px;
  width: 50%;
  text-align: center;
}
.formule .form {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 20px;
}
.formule .form.error .fa-exclamation-circle {
  visibility: visible;
}
.formule .form.error #form__input .input {
  border: 2px solid #ff7a7a;
}
.formule .form.error #form__input .input:last-child {
  border: none;
}
.formule .form.error #form__input .input::placeholder {
  visibility: hidden;
}
.formule .form.error .form__msg {
  visibility: visible;
}
.formule .form .fa-exclamation-circle {
  display: block;
  position: absolute;
  color: #ff7a7a;
  right: 20%;
  margin-top: -13%;
  visibility: hidden;
}
.formule .form .form__msg {
  display: block;
  position: absolute;
  font-size: 10px;
  color: #ff7a7a;
  font-style: italic;
  text-align: right;
  margin-top: 0;
  right: 20%;
  margin-top: -6%;
  visibility: hidden;
}
.formule .form #form__input {
  width: 90%;
}
.formule .form #form__input .input {
  width: 100%;
  height: 50px;
  margin-left: 15px;
  margin-bottom: 30px;
  text-align: left;
  outline: none;
  border: 1px solid #b9b6d3;
  border-radius: 5px;
  text-align: justify;
  font-size: 20px;
}
.formule .form #form__input .input:first-child {
  margin-top: 20px;
}
.formule .form #form__input .input::placeholder {
  color: #b9b6d3;
  text-indent: 15px;
  font-weight: bold;
  font-size: 17px;
}
.formule .form #form__input .input:focus {
  border: 2px solid #b9b6d3;
}
.formule .form #form__input .button {
  background-color: #38cc8c;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 16px;
}
.formule .form #form__input .button:hover {
  background-color: #59aa64;
  transition: all 300ms;
}
.formule .form .form__small {
  width: 90%;
  color: #b9b6d3;
  text-align: center;
  margin-left: 14px;
}
.formule .form .red {
  color: #ff7a7a;
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 550px) {
  .formule .form .fa-exclamation-circle {
    margin-top: -12%;
  }
}
@media (min-width: 575px) {
  .formule .form #form__input {
    width: 93%;
  }

  .formule .form .fa-exclamation-circle {
    margin-top: -12%;
    right: 18%;
  }

  .formule .form .form__msg {
    right: 17%;
    margin-top: -5%;
  }
}
@media (min-width: 600px) {
  .formule .form .fa-exclamation-circle {
    margin-top: -10%;
  }
}
@media (min-width: 650px) {
  .formule .form .form__msg {
    right: 18%;
  }
}
@media (min-width: 685px) {
  .formule .form .form__msg {
    margin-top: -4%;
  }

  .formule .form .fa-exclamation-circle {
    margin-top: -9%;
  }

  .formule .form #form__input .input {
    margin-left: 20px;
  }
}
@media (min-width: 775px) {
  .formule .form .fa-exclamation-circle {
    margin-top: -8%;
  }
}
@media (min-width: 800px) {
  .container {
    display: flex;
    width: 83%;
  }

  .content {
    width: 72%;
    margin-top: 12rem;
    text-align: left;
  }

  .formule .form #form__input .input {
    margin-left: 11px;
  }

  .formule .form .fa-exclamation-circle {
    right: 13%;
  }

  .formule .form .form__msg {
    right: 12%;
  }
}
@media (min-width: 850px) {
  .formule {
    width: 85%;
  }

  .formule .form .form__msg {
    margin-top: -28px;
  }

  .formule .form .fa-exclamation-circle {
    margin-top: -7%;
  }
}
@media (min-width: 1000px) {
  .formule #formule__blue {
    height: 52px;
  }

  .formule #formule__blue #blue {
    width: 77%;
  }

  .formule .form .fa-exclamation-circle {
    margin-top: -6%;
    right: 12%;
  }

  .formule .form #form__input {
    width: 95%;
  }

  .formule .form #form__input .input {
    margin-left: 14px;
  }
}
@media (min-width: 1200px) {
  .formule .form {
    width: 93%;
    margin-left: 2rem;
  }

  .formule #formule__blue {
    width: 93%;
    margin-left: 2rem;
  }

  .formule .form .fa-exclamation-circle {
    margin-top: -5%;
  }
}

/*# sourceMappingURL=style.css.map */
